.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: ; */
    background-color: white;
   text-align: center;
}

.item{
    background-color:white;
    width: 70%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    border-width:1px;
    border-style: solid;
    border-color:black;
    text-align: center;
}

h1{
    text-align: center;
  color: green;  
}

p{
    color: gray;
}
